*{
    box-sizing: border-box;
    margin: 0; padding: 0;

}

body{
    background-color: #23252C;
    display: grid;
    place-items: center;
}

.app{
    margin: 2rem;
    max-width: 330px;
    /* border: 1px solid white; */
    border-radius:10px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1A1B21 ;
    overflow: hidden;
   
}

.image{
    width: 330px;
}

img{
    width: 100%;
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.header-title{
    font-family: Inter;
    font-style: Bold;
    font-size: 35px;
    Line-height: 100%;
    vertical-align: Top;
}
.btn-row{
    display: flex;
}

h1,h2,h3,h4,p{
    color: white;
    font-family: Inter;
    font-size: 15px;
    Line-height: 100%;
    padding-bottom:5px;
}
.main{
    Width: 247px;

    /* height: 201px; */
}

main> h2, p {
    color: antiquewhite;
    font-size:15px ;
    line-height: 1.3;
}
.header-content> h3{
    font-size: 13px;
    color:#F3BF99;
}
button{
    border: none;
    width: 115px;
    border-radius: 9px;
    padding:0.7rem 1rem;
    margin: 1rem;
    font-size: 16px;
    display: flex;
    gap: .5rem;
}
footer{
    width: 100%;
    background-color: #161619;
    padding:1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    gap: 0.8rem;
    color: aliceblue;
}