.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;

  
}
img{
  width: 70px;
}

.nav{
  list-style-type: none;
  display:flex;
  gap: 1rem

}
h1{
  border-top: 2px solid black;
}